@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS global / personalizado */
@layer base {
  body {
    @apply font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
